torch
torch==2.3.0
torchtext==0.18.0
torchaudio==2.3.0
torchvision==0.18.0

phonemizer
inflect
pandas

numpy
numba
matplotlib

tensorboard
tensorboardX

tqdm
PyYAML
ipykernel
pytorch_lightning
requests==2.31.0
tqdm==4.66.0