torch==2.3.0
torchtext==0.18.0
torchaudio==2.3.0
torchvision==0.18.0

phonemizer==3.3.0
inflect==7.5.0
pandas==2.2.3

numpy==2.2.5
numba==0.61.2
matplotlib==3.10.1

tensorboard==2.19.0
tensorboardX==2.6.2.2

tqdm==4.67.1
PyYAML==6.0.2
ipykernel==6.29.5
pytorch_lightning==2.5.1.post0
requests==2.32.0

boto==2.49.0
boto3==1.38.22
botocore==1.38.22
python-dotenv==1.1.0

clearml==2.0.0

pynvml==12.0.0

# Linting
pre-commit==3.7.1
black==24.4.2
isort==5.13.2